<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2004-2016 EPAM Systems
  ~ This file is part of Java Market Data Handler for CME Market Data (MDP 3.0).
  ~ Java Market Data Handler for CME Market Data (MDP 3.0) is free software: you can redistribute it and/or modify it under the terms of the
  ~ GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~ Java Market Data Handler for CME Market Data (MDP 3.0) is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
  ~ without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU General Public License for more details.
  ~ You should have received a copy of the GNU General Public License along with Java Market Data Handler for CME Market Data (MDP 3.0).
  ~ If not, see <http://www.gnu.org/licenses/>.
  -->

<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
        <File name="jMdpFileLog" fileName="Java Market Data Handler for CME Market Data (MDP 3.0).log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="jMdpFileLog"/>
        </Root>
    </Loggers>
</Configuration>
